.form-container{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.form{
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 400px;
}

.form input{
    margin:4px 0;
}